@page "/SportTogether/Mes-annonces/{UserSessionId}"
@using SportTogetherBlazor.Models
@using SportTogetherBlazor.Services
@using System.Linq
@using System.Collections.Generic
@inject IHttpClientFactory HttpClientFactory
@inject LocalStorageServices localStorage

<div class="container h-100">
    <Tabs EnableFadeEffect="true" NavStyle="NavStyle.Underline" Class="custom-tabs" Style="padding-top: 20px; height: 100% !important; background-color: aliceblue !important; color: black !important;">
        <Tab Title="" IsActive="true">
            <TitleTemplate>
                <Icon Name="IconName.Person" /> Mes annonces en tant qu'auteur
            </TitleTemplate>
            <Content>
                <div class="container mt-4">
                    <Button Color="ButtonColor.None" Class="mb-2 mt-2 align-content-start" @onclick="() => SortByTitle(typeAuteur)">
                        <Icon Name="IconName.SortAlphaDown" /> Trier par Titre
                    </Button>

                    @if (annoncesAuteur != null && annoncesAuteur.Any())
                    {
                        <div class="row row-cols-1 row-cols-md-2 g-4">
                            @foreach (var annonce in annoncesAuteur)
                            {
                                <div class="col col-sm-12">
                                    <div class="card card-bubble">
                                        <div class="card-body position-relative">
                                            <div class="d-flex justify-content-between align-items-start w-100">
                                                <h5 class="card-title text-center flex-grow-1">@annonce.Titre</h5>
                                                <div class="dropdown-button">
                                                    <Dropdown Color="DropdownColor.Secondary">
                                                        <DropdownToggleButton>Actions</DropdownToggleButton>
                                                        <DropdownMenu>
                                                            <DropdownItem Type="ButtonType.Button" @onclick="() => SupprimerAnnonce(annonce.AnnoncesId)">Supprimer</DropdownItem>
                                                            <DropdownItem Type="ButtonType.Button" @onclick="() => OuvrirModalModifierAnnonce(annonce)">Modifier</DropdownItem>
                                                        </DropdownMenu>
                                                    </Dropdown>
                                                </div>
                                            </div>

                                            <div class="details-section text-center mt-3">
                                                <p><strong>Lieu :</strong> @annonce.Lieu</p>
                                                <p>@annonce.Description</p>
                                                <p><strong>Genre attendu :</strong> @annonce.GenreAttendu</p>
                                                <p class="text-muted"><strong>Sport :</strong> @annonce.SportName</p>
                                                <p class="text-muted"><strong>Date :</strong> Le @annonce.DateHeureAnnonce.ToString("dd/MM/yyyy") à @annonce.DateHeureAnnonce.ToString("HH:mm")</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-info">Aucune annonce trouvée. Veuillez en créer des nouvelles.</div>
                    }
                </div>
            </Content>
        </Tab>

        <Tab>
            <TitleTemplate>
                <Icon Name="IconName.PersonArmsUp" /> Mes annonces en tant que participant
            </TitleTemplate>
            <Content>
                <div class="container mt-4">
                    <Button Color="ButtonColor.None" Class="mb-2 mt-2 align-content-start" @onclick="() => SortByTitle(typeAuteur)">
                        <Icon Name="IconName.SortAlphaDown" /> Trier par Titre
                    </Button>

                    @if (annoncesParticipant != null && annoncesParticipant.Any())
                    {
                       
                        <div class="row row-cols-1 row-cols-md-2 g-4">
                            @foreach (var annonce in annoncesParticipant)
                            {
                                <div class="col col-sm-12">
                                    <div class="card card-bubble">
                                        <div class="card-body position-relative">
                                            <div class="d-flex justify-content-between align-items-start w-100">
                                                <h5 class="card-title text-center flex-grow-1">@annonce.Titre</h5>
                                                <div class="dropdown-button">
                                                    @if (annonce.isParticipate)
                                                    {
                                                        <Button Color="ButtonColor.Danger" @onclick="() => ShowRemoveParticipationModal(annonce)" Size="Size.Small">
                                                            <Icon Name="IconName.X" ></Icon>
                                                        </Button>
                                                    }
                                                    else
                                                    {
                                                        <Button Color="ButtonColor.Success" @onclick="() => ShowAddParticipationModal(annonce)" Size="Size.Small">
                                                            <Icon Name="IconName.Check" ></Icon>
                                                        </Button>
                                                    }
                                                </div>
                                            </div>

                                            <div class="details-section text-center mt-3">
                                                <p class="text-muted">@annonce.SportName</p>
                                                <p class="text-muted">Le @annonce.DateHeureAnnonce.ToString("dd/MM/yyyy") à @annonce.DateHeureAnnonce.ToString("HH:mm")</p>
                                                <p>@annonce.Lieu</p>
                                                <a href="@($"/SportTogether/Profil-utilisateur-vue/{UserSessionId}?utilisateur={annonce.AuteurId}")" class="text-decoration-none text-info">Auteur: @annonce.Auteur</a>
                                                <p>Nombre de participants: @annonce.NombreParticipants</p>
                                                <p>Description: @annonce.Description</p>
                                                <p>Genre attendu: @annonce.GenreAttendu</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-info">Aucune annonce trouvée. Veuillez en créer des nouvelles.</div>
                    }
                </div>
              
            </Content>
        </Tab>

        <Tab Title="">
            <TitleTemplate>
                <Icon Name="IconName.Book" /> Historiques
            </TitleTemplate>
            <Content>
                <div class="container mt-4">
                    <Button Color="ButtonColor.None" Class="mb-2 mt-2 align-content-start" @onclick="() => SortByTitle(typeAuteur)">
                        <Icon Name="IconName.SortAlphaDown" /> Trier par Titre
                    </Button>

                    @if (historiqueAnnonce != null && historiqueAnnonce.Any())
                    {

                        <div class="row row-cols-1 row-cols-md-2 g-4">
                            @foreach (var annonce in historiqueAnnonce)
                            {
                                <div class="col col-sm-12">
                                    <div class="card card-bubble">
                                        <div class="card-body position-relative">
                                            <div class="d-flex justify-content-between align-items-start w-100">
                                                <h5 class="card-title text-center flex-grow-1">@annonce.Titre</h5>
                                                <div class="dropdown-button">
                                                    @if (annonce.AuteurId != utilisateurID)
                                                    {
                                                        <Dropdown Color="DropdownColor.Secondary">
                                                            <DropdownToggleButton>Actions</DropdownToggleButton>
                                                            <DropdownMenu>
                                                                <DropdownItem Type="ButtonType.Button" @onclick="() => SignalerAnnonce(annonce.AnnoncesId)">Signaler</DropdownItem>
                                                                <DropdownItem Type="ButtonType.Button" @onclick="() => AjouterNoteAnnonce(annonce.AnnoncesId)">Ajouter une note</DropdownItem>
                                                            </DropdownMenu>
                                                        </Dropdown>
                                                    }
                                                </div>
                                            </div>

                                            <div class="details-section text-center mt-3">
                                                <p class="text-muted">@annonce.SportName</p>
                                                <p class="text-muted">Le @annonce.DateHeureAnnonce.ToString("dd/MM/yyyy") à @annonce.DateHeureAnnonce.ToString("HH:mm")</p>
                                                <p>@annonce.Lieu</p>
                                                 @if (annonce.AuteurId != utilisateurID)
                                                    {
                                                        <a href="@($"/SportTogether/Profil-utilisateur-vue/{UserSessionId}?utilisateur={annonce.AuteurId}")" class="text-decoration-none text-info">Auteur: @annonce.Auteur</a>
                                                    }
                                                <p>Nombre de participants: @annonce.NombreParticipants</p>
                                                <p>Description: @annonce.Description</p>
                                                <p>Genre attendu: @annonce.GenreAttendu</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-info">Aucune annonce trouvée. Veuillez en créer des nouvelles.</div>
                    }
                </div>
               
            </Content>
        </Tab>
    </Tabs>
</div>

<!-- Modals for Participation Confirmation -->
<Modal @ref="addParticipationModal" Title="Confirmer la participation" IsVerticallyCentered="true">
    <BodyTemplate>
        <p>Voulez-vous vraiment participer à l'annonce '@selectedAnnonce.Titre' ?</p>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="HideAddParticipationModal">Annuler</Button>
        <Button Color="ButtonColor.Success" @onclick="AddParticipation">Confirmer</Button>
    </FooterTemplate>
</Modal>

<Modal @ref="removeParticipationModal" Title="Confirmer la désinscription" IsVerticallyCentered="true">
    <BodyTemplate>
        <p>Voulez-vous vraiment vous désinscrire de l'annonce '@selectedAnnonce.Titre' ?</p>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="HideRemoveParticipationModal">Annuler</Button>
        <Button Color="ButtonColor.Danger" @onclick="RemoveParticipation">Confirmer</Button>
    </FooterTemplate>
</Modal>
<Modal @ref="modifierAnnonceModal" title="Modifier l'annonce" IsVerticallyCentered="true">
    <BodyTemplate>
        <SportTogetherBlazor.Components.Pages.Formulaires.FrmModifierAnnonce annonce="selectedAnnonce" Annuler="FermerModal" OnSubmit="SubmitModification" />
    </BodyTemplate>

</Modal>
<ConfirmDialog @ref="dialog" />
<style>
    .nav-underline .nav-link.active {
        background-color: #085f63;
        color: white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 10px;
        text-align: center;
    }

    .nav-link {
        background-color: aliceblue;
        color: black;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 10px;
        text-align: center;
    }

    .nav-link:hover {
        background-color: lightgray;
        color: black;
    }

    .card-bubble {
        background-color: #e9fffe;
        border-radius: 25px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }

        .card-bubble:hover {
            transform: translateY(-5px);
        }

    .dropdown-button {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .details-section {
        margin-top: 10px;
        text-align: center;
    }

        .details-section p {
            margin-bottom: 5px;
        }



   
</style>


@code {
    #region "Variable"
    [Parameter]
    public string UserSessionId { get; set; }
    private List<AnnonceVue> annoncesAuteur;
    private List<AnnonceVue> annoncesParticipant;
    private List<AnnonceVue> historiqueAnnonce;
    private int utilisateurID;
    private Modal addParticipationModal = default!;
    private Modal removeParticipationModal = default!;
    private Modal modifierAnnonceModal = default!;
    private ConfirmDialog dialog;
    private AnnonceVue selectedAnnonce = default!;
    [Inject] protected ToastService ToastService { get; set; } = default!;
    private HttpClient Http;
    private const string typeParticipant = "participant";
    private const string typeAuteur = "auteur";
    private bool boolAscString = true;

    private bool boolAscDate = true;

    private bool firstAscDesc = true;
    #endregion
    #region "Init"
    protected override async Task OnInitializedAsync()
    {
        utilisateurID = (await localStorage.GetUserFromLocalStorage()).UtilisateursId;
        Http = HttpClientFactory.CreateClient("ApiSportTogetherClient");
        try
        {
            annoncesAuteur = await GetAnnoncesAuteurAsync(utilisateurID);
        }
        catch (Exception ex)
        {
            // Gérer les exceptions spécifiques si besoin
            // Par exemple, loguer l'erreur ou montrer un message à l'utilisateur
        }

        try
        {
            annoncesParticipant = await GetAnnoncesParticipantAsync(utilisateurID);
            if (annoncesParticipant.Any())
            {
                foreach (AnnonceVue annonceV in annoncesParticipant)
                {
                    annonceV.isParticipate = await CheckIfParticipant(annonceV.AnnoncesId);
                }
            }
        }
        catch (Exception ex)
        {
            // Gérer les exceptions spécifiques si besoin
            // Par exemple, loguer l'erreur ou montrer un message à l'utilisateur
        }

        try
        {
            historiqueAnnonce = await GetAnnoncesHistoriqueAsync(utilisateurID);
        }
        catch (Exception ex)
        {
            // Gérer les exceptions spécifiques si besoin
            // Par exemple, loguer l'erreur ou montrer un message à l'utilisateur
        }
    }
    #endregion
    #region "GetAnnonces"
    public async Task<List<AnnonceVue>> GetAnnoncesAuteurAsync(int utilisateurID)
    {
        var response = await Http.GetAsync($"/annonces/auteur/{utilisateurID}");
        if (response.IsSuccessStatusCode)
        {
            return await response.Content.ReadFromJsonAsync<List<AnnonceVue>>() ?? new List<AnnonceVue>();
        }
        else
        {
            await HandleErrorResponse(response);
            return new List<AnnonceVue>(); // Ou vous pouvez lancer une exception personnalisée
        }
    }

    public async Task<List<AnnonceVue>> GetAnnoncesParticipantAsync(int utilisateurID)
    {
        var response = await Http.GetAsync($"/annonces/participant/{utilisateurID}");
        if (response.IsSuccessStatusCode)
        {
            return await response.Content.ReadFromJsonAsync<List<AnnonceVue>>() ?? new List<AnnonceVue>();
        }
        else
        {
            await HandleErrorResponse(response);
            return new List<AnnonceVue>(); // Ou vous pouvez lancer une exception personnalisée
        }
    }
    public async Task<List<AnnonceVue>> GetAnnoncesHistoriqueAsync(int utilisateurID)
    {
        var response = await Http.GetAsync($"/annonces/historique/{utilisateurID}");
        if (response.IsSuccessStatusCode)
        {
            return await response.Content.ReadFromJsonAsync<List<AnnonceVue>>() ?? new List<AnnonceVue>();
        }
        else
        {
            await HandleErrorResponse(response);
            return new List<AnnonceVue>(); // Ou vous pouvez lancer une exception personnalisée
        }
    }
    private async Task HandleErrorResponse(HttpResponseMessage response)
    {
        var errorContent = await response.Content.ReadAsStringAsync();
        if (response.StatusCode == System.Net.HttpStatusCode.NotFound)
        {
            // Gérer Not Found (404)
            // Par exemple, loguer l'erreur ou montrer un message à l'utilisateur
        }
        else if (response.StatusCode == System.Net.HttpStatusCode.BadRequest)
        {
            // Gérer Bad Request (400)
            // Par exemple, loguer l'erreur ou montrer un message à l'utilisateur
        }
        else
        {
            // Gérer d'autres codes d'erreur
        }
    }
    #endregion
    #region "SuppressionAnnonce"
    private async Task SupprimerAnnonce(int annonceId)
    {
        AnnonceVue av = annoncesAuteur.Where(aa => aa.AnnoncesId == annonceId).FirstOrDefault()!;
        var confirmation = await dialog.ShowAsync(
           title: "Etes vous sur de vouloir supprimer cette annonce ?",
           message1: $"L'annonce : {av.Titre}, qui aura lieu dans la ville de {av.Ville} ");
        if (confirmation)
        {
            await deleteAnnonceApi(annonceId);
        }

    }
    private async Task deleteAnnonceApi(int annonceId)
    {
        var response = await Http.DeleteAsync($"Annonce/{annonceId}");
        if (response.IsSuccessStatusCode)
        {
            annoncesAuteur.Remove(selectedAnnonce);
            ToastService.Notify(new(ToastType.Success, $"L'annonce '{selectedAnnonce.Titre}' a bien été supprimé."));
            StateHasChanged();
        }
        else
        {
            var errorMessage = await response.Content.ReadAsStringAsync();
            ToastService.Notify(new(ToastType.Danger, $"Erreur lors de la suppression de votre annonce : {errorMessage}"));
        }
    }
    private async Task SignalerAnnonce(int annonceId)
    {
        
    }
    private async Task AjouterNoteAnnonce(int annonceId)
    {
        
    }
    #endregion
    #region "ModificationAnnonce"
    private Annonce ConvertAnnonceVueToAnnonce(AnnonceVue annonceVue)
    {
        return new Annonce
            {
                AnnoncesId = annonceVue.AnnoncesId,
                Auteur = annonceVue.AuteurId, // Mapping de l'auteur
                SportId = annonceVue.SportId,
                Titre = annonceVue.Titre,
                Description = annonceVue.Description,
                GenreAttendu = annonceVue.GenreAttendu,
                NombreParticipants = annonceVue.NombreParticipants,
                Ville = annonceVue.Ville,
                Lieu = annonceVue.Lieu,
                DateHeureAnnonce = annonceVue.DateHeureAnnonce
            };
    }
    //Fonction pour ouvrir la modal de modification
    private async Task OuvrirModalModifierAnnonce(AnnonceVue annonce)
    {
        selectedAnnonce = annonce;
        await modifierAnnonceModal.ShowAsync();
    }

    // Fonction pour fermer la modal
    private async Task FermerModal()
    {
        await modifierAnnonceModal.HideAsync();
    }

    // Fonction pour soumettre la modification
    private async Task SubmitModification()
    {
        await FermerModal();
        if (selectedAnnonce == null)
        {
            Console.WriteLine("Aucune annonce sélectionnée.");
            return;
        }

        // Conversion de l'annonce vue en annonce à soumettre
        var annonceModifiee = ConvertAnnonceVueToAnnonce(selectedAnnonce);

        // Vérification basique avant l'envoi
        if (annonceModifiee == null || annonceModifiee.AnnoncesId <= 0)
        {
            Console.WriteLine("Annonce non valide.");
            return;
        }



        try
        {
            var response = await Http.PutAsJsonAsync($"Annonce/{annonceModifiee.AnnoncesId}", annonceModifiee);

            if (response.IsSuccessStatusCode)
            {
                ToastService.Notify(new(ToastType.Success, $"Votre annonce {annonceModifiee.Titre} a bien été modifiée."));
                // Logique de mise à jour UI ou redirection
            }
            else if (response.StatusCode == System.Net.HttpStatusCode.BadRequest)
            {
                Console.WriteLine("Erreur de validation des données envoyées.");
            }
            else if (response.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                Console.WriteLine("Annonce non trouvée.");
            }
            else
            {
                Console.WriteLine($"Erreur inattendue : {response.StatusCode}");
            }
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine($"Erreur de requête HTTP : {ex.Message}");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Une erreur est survenue : {ex.Message}");
        }
    }
    #endregion
    #region "Modal et participation"

    private async Task ShowAddParticipationModal(AnnonceVue annonce)
    {
        selectedAnnonce = annonce;
        annonce.isParticipate = true;
        await addParticipationModal.ShowAsync();
    }

    private async Task HideAddParticipationModal()
    {
        await addParticipationModal.HideAsync();
    }

    private async Task ShowRemoveParticipationModal(AnnonceVue annonce)
    {
        selectedAnnonce = annonce;
        annonce.isParticipate = false;
        await removeParticipationModal.ShowAsync();
    }

    private async Task HideRemoveParticipationModal()
    {
        await removeParticipationModal.HideAsync();
    }

    private async Task AddParticipation()
    {
        await HideAddParticipationModal();

        var participation = new Participation
            {
                AnnonceId = selectedAnnonce.AnnoncesId,
                UtilisateurId = utilisateurID,
                DateParticipation = DateTime.Now
            };

        var response = await Http.PostAsJsonAsync("Participation/CreateParticipation", participation);
        if (response.IsSuccessStatusCode)
        {
            selectedAnnonce.NombreParticipants++;
            ToastService.Notify(new(ToastType.Success, $"Votre participation à l'annonce '{selectedAnnonce.Titre}' est bien enregistrée"));
            StateHasChanged();
        }
        else
        {
            var errorMessage = await response.Content.ReadAsStringAsync();
            ToastService.Notify(new(ToastType.Danger, $"Erreur lors de l'enregistrement de votre participation : {errorMessage}"));
        }
    }

    private async Task RemoveParticipation()
    {
        await HideRemoveParticipationModal();

        var participation = new Participation
            {
                AnnonceId = selectedAnnonce.AnnoncesId,
                UtilisateurId = utilisateurID
            };

        var response = await Http.PostAsJsonAsync("Participation/DeleteParticipation", participation);
        if (response.IsSuccessStatusCode)
        {
            selectedAnnonce.NombreParticipants--;
            ToastService.Notify(new(ToastType.Success, $"Votre désinscription de l'annonce '{selectedAnnonce.Titre}' a été confirmée"));
            StateHasChanged();
        }
        else
        {
            var errorMessage = await response.Content.ReadAsStringAsync();
            ToastService.Notify(new(ToastType.Danger, $"Erreur lors de la désinscription : {errorMessage}"));
        }
    }

    private async Task<bool> CheckIfParticipant(int annonceId)
    {
        return await Http.GetFromJsonAsync<bool>($"Participation/CheckParticipation/{utilisateurID}/{annonceId}");
    }
    #endregion
    #region "SortBy"

    private void SortByTitle(string typeAnnonce)
    {
        if (!firstAscDesc) 
            boolAscString = false;



        if(typeAnnonce == null)
        {
            return;
        }
        // Logique de tri par titre
        if (typeAnnonce == string.Empty) return;

        switch (typeAnnonce)
        {
            case typeAuteur :
                if (firstAscDesc)
                {
                    annoncesAuteur = annoncesAuteur.OrderBy(aa => aa.Titre).ToList();
                    firstAscDesc = false;
                    StateHasChanged();
                }
                else
                {
                    if (!boolAscString)
                    {
                        annoncesAuteur = annoncesAuteur.OrderByDescending(aa => aa.Titre).ToList();
                        firstAscDesc = true;
                        StateHasChanged();
                    }
                }
                break;
                case typeParticipant :
                if (firstAscDesc)
                {
                    annoncesParticipant = annoncesParticipant.OrderBy(aa => aa.Titre).ToList();
                    StateHasChanged();
                }
                else
                {
                    if (!boolAscString)
                    {
                        annoncesParticipant = annoncesParticipant.OrderByDescending(aa => aa.Titre).ToList();
                        firstAscDesc = true;
                        StateHasChanged();
                    }
                }
                break;
        }

    }

    private void SortByDate()
    {
        // Logique de tri par date
    }
    #endregion
    
}
